<div class="pad-it">
    <h2>Edit person</h2>
    <form [formGroup]="personForm">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput placeholder="first Name" formControlName="firstName">
            </mat-form-field>
            <div *ngIf="personForm.controls.firstName.errors as firstNameErrors"> {{firstNameErrors | json }} </div>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="last  Name" formControlName="lastName">
            </mat-form-field>
        </div>
        <div class="number-age">
            <app-number-edit formControlName="age"></app-number-edit>
        </div>
        <div>
            <app-generic-form-array formControlName="hobbies"
                                    [itemTemplate]="itemTemplate">
                <ng-template #itemTemplate let-item="control" let-i="index">
                    <mat-form-field appearance="outline">
                        <mat-label>Value of {{i + 1}}</mat-label>
                        <input matInput placeholder="value" [formControl]="item">
                    </mat-form-field>
                </ng-template>
            </app-generic-form-array>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="start">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>End date</mat-label>
                <input matInput [matDatepicker]="pickerEnd" formControlName="end">
                <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <app-generic-form-array formControlName="addresses" [itemTemplate]="itemOfAddress">
                <ng-template #itemOfAddress let-item="control">
                    <app-address-input [formControl]="item"></app-address-input>
                </ng-template>
            </app-generic-form-array>
        </div>
        <div> Is admin <input type="checkbox" formControlName="isAdmin" placeholder="isAdmin">
        </div>
        <div>
            <app-sig-pad formControlName="signature"></app-sig-pad>
        </div>
        <div>
            <h2>Form errror</h2>
            <div> {{personForm.errors | json }} </div>
        </div>
    </form>
    <button mat-raised-button color="primary" type="button" [disabled]="personForm.invalid"
            (click)="save()">Save</button>
    <table>
        <thead>
            <tr>
                <th>Real object</th>
                <th>Form value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <pre>{{person | json}}</pre>
                </td>
                <td>
                    <!-- <pre>{{personForm.getRawValue() | json}}</pre> -->
                </td>
            </tr>
        </tbody>
    </table>
    <ol>
        <li>Value : {{personForm.value | json}}</li>
        <li>Valid : {{personForm.valid}}</li>
        <li>Dirty: {{personForm.dirty}}</li>
        <li>Disabled: {{personForm.disabled}}</li>
    </ol>
</div>

<img *ngIf="personForm.value.signature" [src]="personForm.value.signature">